@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --international-orange-50: 33 100% 96%;
        --international-orange-100: 34 100% 92%;
        --international-orange-200: 31 95% 83%;
        --international-orange-300: 30 96% 72%;
        --international-orange-400: 27 95% 61%;
        --international-orange-500: 24 93% 53%;
        --international-orange-600: 20 89% 50%;
        --international-orange-700: 17 87% 40%;
        --international-orange-800: 14 78% 34%;
        --international-orange-900: 14 73% 28%;
        --international-orange-950: 13 81% 15%;

        /* Pallette for mindle primary */
        --vermilion-50: 30 100% 96;
        --vermilion-100: 31 100% 92;
        --vermilion-200: 30 100% 83;
        --vermilion-300: 28 99% 72;
        --vermilion-400: 25 98% 61;
        --vermilion-500: 22 97% 53;
        --vermilion-600: 18 92% 50;
        --vermilion-700: 15 90% 40;
        --vermilion-800: 12 80% 34;
        --vermilion-900: 13 76% 28;
        --vermilion-950: 12 84% 15;

        --quarter-pearl-lusta-50: 40 100% 97%;
        --quarter-pearl-lusta-100: 41 100% 92%;
        --quarter-pearl-lusta-200: 39 98% 83%;
        --quarter-pearl-lusta-300: 37 97% 72%;
        --quarter-pearl-lusta-400: 34 96% 61%;
        --quarter-pearl-lusta-500: 31 95% 53%;
        --quarter-pearl-lusta-600: 27 90% 48%;
        --quarter-pearl-lusta-700: 24 88% 40%;
        --quarter-pearl-lusta-800: 22 79% 34%;
        --quarter-pearl-lusta-900: 22 75% 28%;
        --quarter-pearl-lusta-950: 20 81% 15%;

        --background: 40 100% 97%;
        --foreground: 20 14.3% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;
        --primary: 20 89% 50%;
        --primary-foreground: 60 9.1% 97.8%;
        --secondary: 0 0% 100%;
        --secondary-foreground: 20, 14.3%, 4.1%;
        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;
        --accent: 34 100% 92%;
        --accent-foreground: 24 9.8% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 24.6 95% 53.1%;
        --radius: 0.5rem;
        --base-padding: 1.75rem;

        /* Related to user progress */
        --primary-active: 20, 88%, 90%, 1;
        --primary-complete: 140, 54%, 89%, 1;
        --primary-disabled: 0, 0%, 91%, 1;
        --primary-active-foreground: 20, 89%, 50%, 1;
        --primary-complete-foreground: 140, 64%, 45%, 1;
        --primary-disabled-foreground: 0, 0%, 0%, 0.3;
        --complete-border: 140, 63%, 36%, 0.1;
        --active-border: 20, 87%, 40%, 0.2;
        --disabled-border: 0, 0%, 0%, 0.1;
    }

    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 60 9.1% 97.8%;
        --card: 12 6.5% 15.1%;
        --card-foreground: 60 9.1% 97.8%;
        --popover: 20 14.3% 4.1%;
        --popover-foreground: 60 9.1% 97.8%;
        --primary: 24 93% 53%;
        --primary-foreground: 20.5 30% 100%;
        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;
        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;
        --destructive: 0 72.2% 50.6%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;
        --ring: 20.5 90.2% 48.2%;
        --base-padding: 1.75rem;

        /* Related to user progress */
        --primary-complete: 120 50% 40%;
        --primary-disabled: 0 0% 50%;
        --primary-complete-foreground: 140 54% 70%;
        --primary-disabled-foreground: 0 0% 70%;
        --complete-border: 140 63% 36%;
        --disabled-border: 0 0% 30%;

        --primary-active: 20.5 70% 40%;
        --primary-active-foreground: 20.5 30% 85%;
        --active-border: 20 87% 40% 0.2;
    }
}

@font-face {
    font-family: 'Poppins-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Light';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Black';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Poppins/Poppins-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Co Headline Regular';
    font-style: normal;
    font-weight: normal;
    src:
        local('Co Headline Regular'),
        url('/fonts/Co Headline/Co Headline.woff') format('woff');
}

@font-face {
    font-family: 'Co Headline Light';
    font-style: normal;
    font-weight: normal;
    src:
        local('Co Headline Light'),
        url('/fonts/Co Headline/Co Headline Light.woff') format('woff');
}

@font-face {
    font-family: 'Co Headline Bold';
    font-style: normal;
    font-weight: normal;
    src:
        local('Co Headline Bold'),
        url('/fonts/Co Headline/Co Headline Bold.woff') format('woff');
}

.fill-active-svg {
    svg,
    path {
        @apply fill-active-foreground transition-all duration-300 ease-in-out group-hover:fill-active;
    }
}

.fill-complete-svg {
    svg,
    path {
        @apply fill-complete-foreground transition-all duration-300 ease-in-out group-hover:fill-complete;
    }
}

.fill-disabled-svg {
    svg,
    path {
        @apply fill-disabled-foreground transition-all duration-300 ease-in-out;
    }
}

.default-transition {
    @apply transition-colors duration-300 ease-in-out;
}

.react-colorful {
    width: 100% !important;
}

[data-reference-hidden] {
    opacity: 0;
    pointer-events: none;
}
