/* TreeChart.css */
#treeWrapper {
    width: '100%';
    height: '70vh'; /* Set to 70% of the viewport height for visibility */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Customize nodes */
.nodeBase {
    fill: #ffafaf; /* Example fill color; replace with your specific color code */
}

/* Customize node text */
.nodeNameBase,
.nodeAttributesBase {
    fill: #333; /* Example text color; replace with your specific color code */
    font-size: 14px; /* Adjust as needed */
}

/* Customize links (lines between nodes) */
.rd3t-link {
    stroke-width: 1px;
    /* stroke-dasharray: 5, 3 !important; /\* Creates a dashed line if that's what's in your Figma design *\/ */
    stroke: hsla(var(--primary-active-foreground)) !important;
}

/* Customize the circle node shapes if needed */
.nodeBase circle {
    fill: #ffafaf; /* Example fill color; replace with your specific color code */
}

/* Example hover effect for nodes */
.nodeBase:hover {
    fill: #ff8c8c; /* Lighter fill on hover; replace with your specific color code */
}

/* Additional customizations can be done here */

/* Ensure the tree component takes the full size of its container */
.ReactD3Tree {
    width: 100%;
    height: 100%;
}
